

<a href="../">戻る</a>


<TABLE border="1" width="60%" height="30%" cellspacing="2" cellpadding="5">
<TR>
<TD>日付</TD><TD>内容/問題点</TD><TD>解決策</TD><td>状態</td>
</TR>
<TR>
<TD>2015/03/09</TD><TD>ログイン処理の欠陥</TD><TD>保存先スキーマの違い</td><td>解決？</TD>
</TR>
<TR>
<TD>2015/03/09</TD><TD>セッションのリンク切れ　ログイン処理の抜け道</TD><TD>undefinedの場合ログインさせない処理を記述</td><td>解決</TD>
</TR>
<TR>
<TD>2015/03/09</TD><TD>別ユーザのSocketにアクセスできない問題</TD><TD>ソケット接続先の見直し</TD><td>解決</TD>
</TR>
<TR>
<TD>2015/03/08</TD><TD>サーバーへ公開</TD><TD></TD>
</TR>

</TABLE>